body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

p {
  color: #6c757d;
}

hr {
  margin-bottom: 2em;
}

.operazione {
  background-color: #f1f1f1;
  max-width: 600px;
  border-radius: 117px;
  margin: auto;
}

.btn {
  max-width: 200px;
}

/*-- Sidebar --*/

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04aa6d;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  .container-fluid {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.container-fluid {
  width: auto;
  margin-right: 0;
  margin-left: 200px;
}

.inner {
  background: brown;
}

i {
  padding: 10px;
}

.column {
  padding: 60px;
}

.selected{
  background-color: blueviolet;
}
/*-- Lists --*/
